body {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background: #f6f6f6;
  overflow-x: hidden !important;
  margin: 0;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./resource/fonts/Gilroy-BoldItalic.woff2') format('woff2'),
      url('./resource/fonts/Gilroy-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./resource/fonts/Gilroy-ExtraBold.woff2') format('woff2'),
      url('./resource/fonts/Gilroy-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./resource/fonts/Gilroy-Black.woff2') format('woff2'),
      url('./resource/fonts/Gilroy-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./resource/fonts/Gilroy-ExtraBoldItalic.woff2') format('woff2'),
      url('./resource/fonts/Gilroy-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./resource/fonts/Gilroy-BlackItalic.woff2') format('woff2'),
      url('./resource/fonts/Gilroy-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./resource/fonts/Gilroy-Bold.woff2') format('woff2'),
      url('./resource/fonts/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./resource/fonts/Gilroy-Thin.woff2') format('woff2'),
      url('./resource/fonts/Gilroy-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./resource/fonts/Gilroy-ThinItalic.woff2') format('woff2'),
      url('./resource/fonts/Gilroy-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./resource/fonts/Gilroy-Regular.woff2') format('woff2'),
      url('./resource/fonts/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./resource/fonts/Gilroy-Medium.woff2') format('woff2'),
      url('./resource/fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./resource/fonts/Gilroy-LightItalic.woff2') format('woff2'),
      url('./resource/fonts/Gilroy-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./resource/fonts/Gilroy-MediumItalic.woff2') format('woff2'),
      url('./resource/fonts/Gilroy-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-RegularItalic';
  src: url('./resource/fonts/Gilroy-RegularItalic.woff2') format('woff2'),
      url('./resource/fonts/Gilroy-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./resource/fonts/Gilroy-Light.woff2') format('woff2'),
      url('./resource/fonts/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./resource/fonts/Gilroy-SemiBold.woff2') format('woff2'),
      url('./resource/fonts/Gilroy-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./resource/fonts/Gilroy-SemiBoldItalic.woff2') format('woff2'),
      url('./resource/fonts/Gilroy-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./resource/fonts/Gilroy-Heavy.woff2') format('woff2'),
      url('./resource/fonts/Gilroy-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./resource/fonts/Gilroy-HeavyItalic.woff2') format('woff2'),
      url('./resource/fonts/Gilroy-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./resource/fonts/Gilroy-UltraLight.woff2') format('woff2'),
      url('./resource/fonts/Gilroy-UltraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./resource/fonts/Gilroy-UltraLightItalic.woff2') format('woff2'),
      url('./resource/fonts/Gilroy-UltraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
.css-5kslps-MuiTabs-flexContainer{
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}